main > .text_page {

  h1 {
    max-width: var(--theJdrSize);
    margin: 0;
    // margin-left: 1em;
  }

  .content {
    // padding-left: 0;
    // padding-right: 0;
    padding: 2rem var(--container-margin);

    @include mq($until: md) {
      margin: 1rem;
    }

    img {
      max-width: 100%;
    }

    .centered-img {
      text-align: center;
      margin: var(--space-3) 0;
    }

    h2, h3, h4, h5, h6 {
      color: var(--primary);
      font-style: normal;
      font-weight: 400;
    }

    h2 {
      margin-top: 2rem; // 10px
      margin-bottom: 0.625rem; // 10px
    }

    h3, h4, h5, h6 {
      margin-top: 0.625rem; // 10px
      margin-bottom: 0.625rem; // 10px
    }

    p {
      text-align: justify;
      // margin-bottom: 1.5rem;
      // line-height: 1.7rem;
    }

    ul {
      margin-left: 1rem;

      li {
        line-height: 1.7rem;
      }
    }

    img#dark_bg {
      background-color: #e0dfdf;
    }
  }
}
